<ion-header>
    <ion-toolbar>
        <ion-title>TripList</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    Let's create a trip list.
    <ion-list>
        <ion-item *ngFor='let trip of trips' [routerLink]="['/home/show-trip', trip.id] ">
            <ion-label>{{trip.title}}</ion-label>
            <p>{{trip.description}}</p>
        </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="newTrip()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <!--  <div class="map " leaflet [leafletOptions]="mapOptions " (leafletMapReady)="onMapReady($event) "></div> -->
</ion-content>