<ion-header>
    <ion-toolbar>
        <ion-title>TripList</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    Let's create a trip list.
    <ion-list>
        <ion-item *ngFor='let trip of trips'>
            <ion-label>{{trip.title}}</ion-label>
            <p>{{trip.title}}</p>
        </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="newTrip()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="newPlace()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>