<ion-header>
    <ion-toolbar>
        <ion-title>{{trip?.title}}</ion-title>
        <ion-buttons slot="start">
            <ion-button (click)="back()">
                <ion-icon name='arrow-back'></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" *ngIf="tripEdit; else checkmark">
            <ion-button (click)="settings()">
                <ion-icon name='create'></ion-icon>
            </ion-button>
        </ion-buttons>
        <ng-template #checkmark>
            <ion-buttons slot="end">
                <ion-button (click)="settings()" (click)="onSubmit(editForm)">
                    <ion-icon name='checkmark'></ion-icon>
                </ion-button>
            </ion-buttons>
        </ng-template>

    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <h3 *ngIf="tripEdit">Description</h3>
    <p *ngIf="tripEdit; else editDescription">{{trip?.description}}</p>
    <ng-template #editDescription>

        <form #tripForm="ngForm">
            <h3>Title</h3>
            <!-- Title input -->
            <ion-item>
                <ion-input inputmode="text" #title="ngModel" [(ngModel)]=trip.title required="true" name="title" [(ngModel)]="tripRequest.title"></ion-input>
            </ion-item>
            <h3>Description</h3>
            <!-- Description input -->
            <ion-item>
                <ion-input inputmode="text" #description="ngModel" [(ngModel)]=trip.description required="true" name="description" [(ngModel)]="tripRequest.description"></ion-input>
            </ion-item>
            <!-- Error message displayed if the registration failed -->
            <ion-text color='danger' *ngIf="tripError">Title or description is invalid.</ion-text>
        </form>

    </ng-template>
    <h3>Places</h3>
    <ion-list *ngFor='let place of places'>
        <ion-item (click)="showMap(place?.id)">
            <ion-label>
                {{place?.name}}
            </ion-label>
            <ion-icon name="map" slot="end" (click)="openModalMapTrip()" *ngIf="tripEdit; else editPlace"></ion-icon>
            <ng-template #editPlace>
                <ion-icon name="trash" slot="end" (click)="delatePlace()()"></ion-icon>
            </ng-template>
        </ion-item>

    </ion-list>
    <ng-template #editHere>
        <ion-input [placeholder]=trip?.title></ion-input>
    </ng-template>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="newPlace()" *ngIf="tripEdit; else trashButton">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ng-template #trashButton>
            <ion-fab-button color="danger" (click)="deleteTrip()">
                <ion-icon name="trash"></ion-icon>
            </ion-fab-button>
        </ng-template>
    </ion-fab>
</ion-content>