<ion-header>
    <ion-toolbar>
        <ion-title>Show-trip</ion-title>
        <ion-buttons slot="start">
            <ion-button (click)="back()">
                <ion-icon name='arrow-back'></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="newPlace()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <div class="map " leaflet [leafletOptions]="mapOptions " (leafletMapReady)="onMapReady($event) "></div>
</ion-content>