<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <!-- Logout button -->
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
          <ion-icon name='log-out'></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content has-header="true">
    <div id="profile-bg"></div>
    <div id="content">
      <div id="profile-info">
        <h3 id="profile-name">Username</h3>
        <p><ion-label>Total places Count {{placesCount}}</ion-label></p>
        <p><ion-label>Total trips Count {{placesCount}}</ion-label></p>
      </div>
    </div>
</ion-content>
