<ion-header>
    <ion-toolbar>
        <ion-title>Profile</ion-title>
        <!-- Logout button -->
        <ion-buttons slot="end" *ngIf="userEdit; else checkmark">
            <ion-button (click)="settings()">
                <ion-icon name='create'></ion-icon>
            </ion-button>
        </ion-buttons>
        <ng-template #checkmark>
            <ion-buttons slot="end">
                <ion-button (click)="settings()" (click)="onSubmit(onSubmit)">
                    <ion-icon name='checkmark'></ion-icon>
                </ion-button>
            </ion-buttons>
        </ng-template>
    </ion-toolbar>
</ion-header>

<ion-content has-header="true" class="ion-padding">
    <h3 *ngIf="userEdit; else editUser">You username: {{user?.name}}</h3>
    <p *ngIf="userEdit">you ave created: {{user?.tripsCount}} trips</p>
    <ng-template #editUser>

        <form #userForm="ngForm">
            <h3>Username</h3>
            <!-- username input -->
            <ion-item>
                <ion-input inputmode="text" #title="ngModel" [(ngModel)]=user.username required="true" name="name" [(ngModel)]="userRequest.name"></ion-input>
            </ion-item>
            <h3>Password</h3>
            <!-- passowrd input -->
            <ion-item>
                <ion-input type={{passwordType}} inputmode="text" #description="ngModel" [(ngModel)]=user.password [(ngModel)]="userRequest.password" required="true" name="password" clearOnEdit="false"></ion-input>
                <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
            </ion-item>
            <!-- Error message displayed if the registration failed -->
            <ion-text color='danger' *ngIf="userError">Username or password is invalid.</ion-text>
        </form>

    </ng-template>
    <h3 *ngIf="userEdit">Funny stats</h3>
    <p>
        <ion-label *ngIf="userEdit">Total number of places: {{placesCount}}</ion-label>
    </p>
    <p>
        <ion-label *ngIf="userEdit">Total number of trips: {{tripsCount}}</ion-label>
    </p>

    <ion-button expand="block" *ngIf="userEdit" (click)="logOut()">Logout</ion-button>
</ion-content>